.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rcheck
.DS_Store
*_cache/
*.png
*.html
*.gz
*.pdf
*.log
*.bbl
*.aux
*.blg
*.sty


EcoData/vignettes/EcoData.md

EcoData/vignettes/EcoData.R

EcoData/vignettes/DatasetsAccordingToUse.md

EcoData/vignettes/DatasetsAccordingToUse.R

EcoData.Rcheck
EcoData/EcoData.Rcheck/

*.gz
*.pdf
EcoData/.DS_Store
*/.DS_Store
