.Rproj.user
.Rhistory
.RData
.Ruserdata

*.html

*.png

EcoData/vignettes/EcoData.md

EcoData/vignettes/EcoData.R

EcoData/vignettes/DatasetsAccordingToUse.md

EcoData/vignettes/DatasetsAccordingToUse.R

*.gz
*.pdf
EcoData/.DS_Store
*/.DS_Store
